@import "./scss_helper/helper";
 
 body{
    width: 100vw;
    height:100vh;

    //공통scss
    @keyframes flash{
        from{opacity: 1;}
        to{opacity: 0;}
    }
    .hide{display: none;}
    .show{display: block;}

    #wrap{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #d3d3eb;
        width: 100%;
        height: 100%;
        .weather{
            position: relative;
            @include per-convert-pc(padding,40 60 60,1920);
            @include per-convert-pc(width,600,1920);
            @include per-convert-pc(border-radius,25,600);
            box-sizing:border-box;
            height: auto;
            background: rgba( 255, 255, 255, 1);
            box-shadow:
                    0 -15px 15px 0 rgba( 255, 255, 255, 0.1 ) ,
                    15px 0 15px 0 rgba( 255, 255, 255, 0.1 ) ,
                    -15px 0 15px 0 rgba( 255, 255, 255, 0.1 ) ,
                    0 15px 15px 0 rgba( 31, 38, 135, 0.2 );
            .drag-btn,.input-btn,.dusty-btn{
                position: absolute;
                @include font-device('Poppins', 16, 24);
                opacity: 1;
                animation: flash 1s cubic-bezier(0.79, 0.01, 0.18, 1.01) infinite;
                text-align: center;
                i{
                    display: block;
                    width: 50px;
                    margin: auto;
                    //@include per-convert-pc(width,100,600);
                    img{width: 100%;opacity: 0.4;}
                }
                span{
                    display: block;
                    color: rgb(77, 77, 77);
                }
            }
            .drag-btn{
                @include per-convert-pc(top,60,600);
                right: 20px;
            }
            .input-btn{
                @include per-convert-pc(bottom,-50,600);
                right: 20px;
            }
            .dusty-btn{
                @include per-convert-pc(bottom,200,600);
                right: 50px;
                i{
                    transform:rotate(-40deg);
                }

            }
            @include break-point($mobile) {
                width:270px;
                padding: 20px 30px; 
                .drag-btn{
                    top: 45px;
                }
            } 
        }
    }

    
    .title-box{
        position:relative;
        margin-top:20px;
        height:64px;
        overflow: hidden;
        cursor:grab;
        p {
            position: absolute;
            @include per-convert-pc(top,400,600);
            @include font-device('Poppins', 20, 20);
            font-weight:200;
            text-align: center;
            width: 100%;
            color: #b7b7b7;
            -webkit-touch-callout: none;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
        }
       
        @include break-point($mobile) {
            height: 44px;
            p{
                font-size: 14px;
            }
        }
    }
    .title{
        @include font-device('Poppins', 36, 36);
        font-weight: 500;
        color: #808080;
        width: 100%;
        li{
            position:absolute;
            width: 100%;
            text-align: center;
            @for $i from 1 to 10{
                &:nth-child(#{$i}){
                    left: 100% * $i;
                }
            }
        }
        @include break-point($mobile) {
            font-size: 24px;
        }
    }
  
 
    #container{
        align-self: flex-start;
        @include per-convert-pc(width,360,600);
        @include per-convert-pc(margin,40 auto 60,600);
        canvas{
            width: 100%;
            height: 180px;
        }
        @include break-point($mobile) {
            width: 120px;
            height: 120px;
        }
    }
    input[type=range] {
        height: 30px;
        -webkit-appearance: none;
        width: 100%;
        background: transparent;
    }
    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        box-shadow: inset 0 0 3px rgba( 31, 38, 135, 0.35 );
        border:none;
        border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0 0 4px 0 rgba( 31, 38, 135, 0.35 );
        border: 1px solid #e9e9e9;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        background: rgba(255,255,255,0.8);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8px;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
        /*background: #f1f1f1;*/
    }
    .info{
        display:flex;
        justify-content: space-around;
        margin-bottom: 10px;
        .line{
            width: 1px;
            height: auto;
            background: #cecece;
        }
        .temp{
            @include font-device('Poppins', 54, 54);
            font-weight: 500;
            color: #666;
        }
        .temp-mark{
            @include font-device('Poppins', 28, 28);
            color: #666;
            vertical-align: top;
        }
        .city,.day{
            text-transform: uppercase;
            @include font-device('Poppins', 20, 28);
            font-weight: 300;
            color: #999;
        }
        .day{
            color: #b8b8b8;
        }
        @include break-point($mobile) {
            .temp{
                font-size: 40px;
            }
            .temp-mark{
                font-size: 20px;
            }
            .city,.day{
                font-size: 16px;
            }
        }
    }
}
