body {
  width: 100vw;
  height: 100vh;
}

@-webkit-keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body .hide {
  display: none;
}

body .show {
  display: block;
}

body #wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d3d3eb;
  width: 100%;
  height: 100%;
}

body #wrap .weather {
  position: relative;
  padding: 40px 60px 60px;
  padding: 2.08333% 3.125% 3.125%;
  width: 600px;
  width: 31.25%;
  border-radius: 25px;
  border-radius: 4.16667%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  background: white;
  -webkit-box-shadow: 0 -15px 15px 0 rgba(255, 255, 255, 0.1), 15px 0 15px 0 rgba(255, 255, 255, 0.1), -15px 0 15px 0 rgba(255, 255, 255, 0.1), 0 15px 15px 0 rgba(31, 38, 135, 0.2);
          box-shadow: 0 -15px 15px 0 rgba(255, 255, 255, 0.1), 15px 0 15px 0 rgba(255, 255, 255, 0.1), -15px 0 15px 0 rgba(255, 255, 255, 0.1), 0 15px 15px 0 rgba(31, 38, 135, 0.2);
}

body #wrap .weather .drag-btn, body #wrap .weather .input-btn, body #wrap .weather .dusty-btn {
  position: absolute;
  opacity: 1;
  -webkit-animation: flash 1s cubic-bezier(0.79, 0.01, 0.18, 1.01) infinite;
          animation: flash 1s cubic-bezier(0.79, 0.01, 0.18, 1.01) infinite;
}

@media only screen and (max-width: 767.7px) {
  body #wrap .weather .drag-btn, body #wrap .weather .input-btn, body #wrap .weather .dusty-btn {
    font-family: "Poppins";
    font-size: 2.13333vw;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body #wrap .weather .drag-btn, body #wrap .weather .input-btn, body #wrap .weather .dusty-btn {
    font-family: "Poppins";
    font-size: 16px;
    font-size: 1.25vw;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1281px) {
  body #wrap .weather .drag-btn, body #wrap .weather .input-btn, body #wrap .weather .dusty-btn {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 2561px) {
  body #wrap .weather .drag-btn, body #wrap .weather .input-btn, body #wrap .weather .dusty-btn {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.5;
  }
}

body #wrap .weather .drag-btn {
  top: 60px;
  top: 10%;
  right: -20px;
}

body #wrap .weather .input-btn {
  bottom: 60px;
  bottom: 10%;
  right: -20px;
}

body #wrap .weather .dusty-btn {
  bottom: 300px;
  bottom: 50%;
  right: -20px;
}

@media only screen and (max-width: 767.7px) {
  body #wrap .weather {
    width: 270px;
    padding: 20px 30px;
  }
  body #wrap .weather .drag-btn {
    top: 45px;
  }
}

body .title-box {
  position: relative;
  margin-top: 20px;
  height: 64px;
  overflow: hidden;
  cursor: -webkit-grab;
  cursor: grab;
}

body .title-box p {
  position: absolute;
  top: 400px;
  top: 66.66667%;
  font-weight: 200;
  text-align: center;
  width: 100%;
  color: #b7b7b7;
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 767.7px) {
  body .title-box p {
    font-family: "Poppins";
    font-size: 2.66667vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body .title-box p {
    font-family: "Poppins";
    font-size: 20px;
    font-size: 1.5625vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 1281px) {
  body .title-box p {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (min-width: 2561px) {
  body .title-box p {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (max-width: 767.7px) {
  body .title-box {
    height: 44px;
  }
  body .title-box p {
    font-size: 14px;
  }
}

body .title {
  font-weight: 500;
  color: #808080;
  width: 100%;
}

@media only screen and (max-width: 767.7px) {
  body .title {
    font-family: "Poppins";
    font-size: 4.8vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body .title {
    font-family: "Poppins";
    font-size: 36px;
    font-size: 2.8125vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 1281px) {
  body .title {
    font-family: "Poppins";
    font-size: 36px;
    line-height: 1;
  }
}

@media only screen and (min-width: 2561px) {
  body .title {
    font-family: "Poppins";
    font-size: 36px;
    line-height: 1;
  }
}

body .title li {
  position: absolute;
  width: 100%;
  text-align: center;
}

body .title li:nth-child(1) {
  left: 100%;
}

body .title li:nth-child(2) {
  left: 200%;
}

body .title li:nth-child(3) {
  left: 300%;
}

body .title li:nth-child(4) {
  left: 400%;
}

body .title li:nth-child(5) {
  left: 500%;
}

body .title li:nth-child(6) {
  left: 600%;
}

body .title li:nth-child(7) {
  left: 700%;
}

body .title li:nth-child(8) {
  left: 800%;
}

body .title li:nth-child(9) {
  left: 900%;
}

@media only screen and (max-width: 767.7px) {
  body .title {
    font-size: 24px;
  }
}

body #container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 360px;
  width: 60%;
  margin: 40px auto 60px;
  margin: 6.66667% auto 10%;
}

body #container canvas {
  width: 100%;
  height: 180px;
}

@media only screen and (max-width: 767.7px) {
  body #container {
    width: 120px;
    height: 120px;
  }
}

body input[type=range] {
  height: 30px;
  -webkit-appearance: none;
  /*margin:  10%;*/
  width: 100%;
  background: transparent;
}

body input[type=range]:focus {
  outline: none;
}

body input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  /*background: rgba( 255, 255, 255, 0.20 );*/
  -webkit-box-shadow: inset 0 0 3px rgba(31, 38, 135, 0.35);
          box-shadow: inset 0 0 3px rgba(31, 38, 135, 0.35);
  border: none;
  border-radius: 3px;
}

body input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 4px 0 rgba(31, 38, 135, 0.35);
          box-shadow: 0 0 4px 0 rgba(31, 38, 135, 0.35);
  border: 1px solid #e9e9e9;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

body input[type=range]:focus::-webkit-slider-runnable-track {
  /*background: #f1f1f1;*/
}

body .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

body .info .line {
  width: 1px;
  height: auto;
  background: #cecece;
}

body .info .temp {
  font-weight: 500;
  color: #666;
}

@media only screen and (max-width: 767.7px) {
  body .info .temp {
    font-family: "Poppins";
    font-size: 7.2vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body .info .temp {
    font-family: "Poppins";
    font-size: 54px;
    font-size: 4.21875vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 1281px) {
  body .info .temp {
    font-family: "Poppins";
    font-size: 54px;
    line-height: 1;
  }
}

@media only screen and (min-width: 2561px) {
  body .info .temp {
    font-family: "Poppins";
    font-size: 54px;
    line-height: 1;
  }
}

body .info .temp-mark {
  color: #666;
  vertical-align: top;
}

@media only screen and (max-width: 767.7px) {
  body .info .temp-mark {
    font-family: "Poppins";
    font-size: 3.73333vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body .info .temp-mark {
    font-family: "Poppins";
    font-size: 28px;
    font-size: 2.1875vw;
    line-height: 1;
  }
}

@media only screen and (min-width: 1281px) {
  body .info .temp-mark {
    font-family: "Poppins";
    font-size: 28px;
    line-height: 1;
  }
}

@media only screen and (min-width: 2561px) {
  body .info .temp-mark {
    font-family: "Poppins";
    font-size: 28px;
    line-height: 1;
  }
}

body .info .city, body .info .day {
  text-transform: uppercase;
  font-weight: 300;
  color: #999;
}

@media only screen and (max-width: 767.7px) {
  body .info .city, body .info .day {
    font-family: "Poppins";
    font-size: 2.66667vw;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  body .info .city, body .info .day {
    font-family: "Poppins";
    font-size: 20px;
    font-size: 1.5625vw;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 1281px) {
  body .info .city, body .info .day {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 2561px) {
  body .info .city, body .info .day {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 1.4;
  }
}

body .info .day {
  color: #b8b8b8;
}

@media only screen and (max-width: 767.7px) {
  body .info .temp {
    font-size: 40px;
  }
  body .info .temp-mark {
    font-size: 20px;
  }
  body .info .city, body .info .day {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */